[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
requests = {version = "==2.24.0", extras = ["socks"]}
certifi = "==2020.6.20"
idna = "==2.10"
lxml = "==4.6.1"
python-dateutil = "==2.8.0"
PyYAML = "==5.3.1"
Flask-Babel = "==1.0.0"
Jinja2 = "*"
pyOpenSSL = "==19.1.0"
geoip2 = "*"
folium = "*"
streamlit-folium = "*"
scipy = "*"
pyarrow = "==2.0.0"
altair = "*"
wordcloud = "*"
textblob = "*"

[dev-packages]

[requires]
python_version = "3.8"
