[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
requests = "*"
textblob = "*"
jupyterlab = "*"

[dev-packages]

[requires]
python_version = "3.8"
