scipy==1.3.3
geoip2==4.1.0
requests==2.24.0
streamlit==0.72.0
textblob==0.15.3
wordcloud==1.8.1
altair==4.1.0
pandas==1.1.5
newsapi_python==0.2.6
numpy==1.17.4
folium==0.12.1
newsapi==0.1.1
Pillow==8.2.0
PyYAML==5.4.1
streamlit_folium==0.3.0
